body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

button a {
  color: inherit;
}

button a:hover {
  color: inherit;
}

.navbar{
    position: fixed !important;
    width: 100%;
}

#Home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: fit-content;
    min-height: fit-content;
}

 .section{
    padding: 7rem 7rem 0;
 }

 #Home > section{
  position: absolute;
  bottom: 30vh;
  padding: 3rem;
  background-color: rgba(240, 255, 255, 0.5);
}

 /* .br{
    display: block;
    margin-bottom: 1rem;
 } */

 .icon_box {
  padding: 2em;
 }

 .icon_box .title {
  font-size: 1.5rem;
 }

 .overview_box {
  padding-top: 5em;
 }

 .overview_box > .level-item > div > .title {
  color: #00d1b2;
 }

.block{
    padding-top: 4em;
}

.clear{
  clear: both;
}

.down{
  transform: rotate(180deg);
}

.dataset_name{
  width: 100%;
  border-bottom: solid 0.1em #dbdbdb;
  padding-bottom: 0.3em;
}

.special_list {
  background-color: rgb(234 255 255);
  border-left: solid 0.5em rgb(4 209 178);
  padding: 1em;
  transform: skew(-14deg, 0);
}

#Chart-container {
    height: 400px;
  }
  
  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
  }
  
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }
  
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }


  .level img{
    width: 10em;
  }


@media screen and (min-width: 769px), print{
  .half_paragraph {
    width: 45%;
    float: left;
  }
  .special_list{
    float: right;
    width: 52%;
  }
}
